/*=============================================
  Utilites
=============================================*/
.bg-pink-1 {
  background-color: hsl(322deg, 100%, 66%);
}

.bg-pink-2 {
  background-color: hsl(321deg, 100%, 78%);
}

.bg-red {
  background-color: hsl(0deg, 100%, 63%);
}

.bg-cyan {
  background-color: hsl(192deg, 100%, 9%);
}

.bg-blue {
  background-color: #f5faff;
}

.text-pink-1 {
  color: hsl(322deg, 100%, 66%);
}

.text-pink-2 {
  color: hsl(321deg, 100%, 78%);
}

.text-red {
  color: hsl(0deg, 100%, 63%);
}

.text-cyan {
  color: hsl(192deg, 100%, 9%);
}

.text-blue {
  color: #f5faff;
}

.text-white {
  color: white;
}

.opa-75 {
  opacity: 0.75;
}

.opa-50 {
  opacity: 0.5;
}

.opa-25 {
  opacity: 0.25;
}

.container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

@media (min-width: 992px) {
  .flex-row {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
  }
}
.inner-container {
  padding: 0 5.5rem;
}

.pt-1 {
  padding-top: 7rem;
}

.pb-1 {
  padding-bottom: 7rem;
}

@media (max-width: 992px) {
  .pt-sm-1 {
    padding-top: 5rem;
  }
}

.mt-1 {
  margin-top: 4rem;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}
.poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.openSans-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.openSans-600 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.openSans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.fs-0 {
  font-size: 1rem;
}

.fs-1 {
  font-size: 1.2rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-4 {
  font-size: 4rem;
}

.fs-5 {
  font-size: 5rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .fs-2 {
    font-size: 1.9rem;
  }
}
.btn {
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  padding: 0.5em 1em;
  font-size: 1rem;
  transition: all 0.4s;
}

.btn-1 {
  background-color: hsl(322deg, 100%, 66%);
  color: white;
  border-radius: 2rem;
  padding: 0.7rem 4rem;
  box-shadow: 2px 5px 10px #DAE1E8;
  font-size: 0.75rem;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}
.btn-1::after {
  transition: transform 0.4s cubic-bezier(0.12, 0.93, 0.83, 0.48);
  content: "";
  position: absolute;
  border-radius: 2rem;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(100%);
}
.btn-1:hover::after {
  transform: translateX(0%);
}

.btn-2 {
  background-color: transparent;
  border: 1px solid hsl(322deg, 100%, 66%);
  color: hsl(322deg, 100%, 66%);
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  box-shadow: 2px 5px 5px #eaeef2;
  font-size: 0.75rem;
  font-weight: 700;
}
.btn-2:hover {
  color: #ff85d2;
  border-color: #ff85d2;
}

header {
  padding-top: 1rem;
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .hero-container {
  padding: 0 5.5rem;
}
.hero .content {
  margin-bottom: 5rem;
}
.hero .content h1, .hero .content p {
  margin-bottom: 1.5rem;
}
.hero .content button {
  margin-top: 1.5rem;
}
@media (min-width: 992px) {
  .hero .content p {
    max-width: 70%;
    margin: auto;
  }
}

.numbers .number {
  position: relative;
  width: 200px;
  margin: auto;
}
.numbers .number .icon {
  width: 40px;
  position: absolute;
  top: -20%;
  left: 0%;
}
.twoCols {
  background-color: #f5faff;
  /*

  .bg-bottom-1,
  .bg-top-1{
    position: relative;  
    min-height: 375px;
    img{
      position: absolute;
      width: 100%;
      left: 0;
      z-index: -10;
    }
  }  
  .bg-top-1 img{
    top: -0%;      
    @media (min-width:992px) {  
      top: -15%;      
      .desktop-bg{display: block;}
      .mobile-bg{display: none;}    
    }
  }
  .bg-bottom-1 img{
    bottom: -15%;
    @media (min-width:992px) {  
      bottom: -10%;
      .desktop-bg{display: block;}
      .mobile-bg{display: none;}
    }
  }
  */
}
.twoCols .content p {
  margin-top: 1.5rem;
}
@media (min-width: 992px) {
  .twoCols .image {
    width: 40%;
  }
  .twoCols .content {
    order: -1;
    text-align: left;
    width: 45%;
  }
  .twoCols .content p {
    margin-top: 1.5rem;
  }
}
.twoCols .desktop-bg {
  display: none;
}

.twoCols-2 {
  background-color: white;
}
@media (min-width: 992px) {
  .twoCols-2 .image {
    width: 40%;
  }
  .twoCols-2 .content {
    order: 0;
    text-align: left;
    width: 45%;
  }
  .twoCols-2 .content p {
    margin-top: 1.5rem;
  }
}

.callToAction .flex {
  gap: 3rem;
  align-items: center;
}

/*=============================================
  Basic
=============================================*/
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}
* a {
  text-decoration: none;
  color: #fff;
}
* img {
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  height: 20000px;
}

.hidden {
  display: none;
}

/*=============================================
  Footer
=============================================*/
.copyright {
  box-sizing: border-box;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 1rem;
  left: 1rem;
  background: hsl(180deg, 62%, 55%);
  color: #fff;
  padding: 1rem;
  border-radius: 15px;
  clip-path: circle(7.5% at 6.5% 45%);
  transition: all 0.3s;
}
.copyright:hover {
  clip-path: circle(100%);
  background-color: #363745;
}
@media (max-width: 768px) {
  .copyright {
    background-color: #363745;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    border-radius: 0;
    clip-path: circle(100%);
  }
}
.copyright a {
  color: hsl(0deg, 78%, 62%);
}

/*# sourceMappingURL=style.css.map */
