.hero{
  .image{
    img{
      @media (min-width:992px) {
        max-width: 70%;
        margin: auto;
      }
    }
  }
  .hero-container{
    padding: 0 5.5rem;
  }
  .content{
    margin-bottom: 5rem;    
    h1, p{      
      margin-bottom: 1.5rem;
    }
    button{
      margin-top: 1.5rem;
    }
    @media (min-width:992px) {
      p {
        max-width: 70%;
        margin: auto;
      }

    }
  
  }
}