.numbers{
  
  .number{
    position: relative;
    width: 200px;
    margin: auto;
    
    .icon{
      width: 40px;
      position: absolute;
      top: -20%;
      left: 0%;
    }    
  }
  .text{

  }
  
}