.container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
    
  }
}
@media (min-width:992px) {
  .container {
    max-width: 960px;
    
  }
}
@media (min-width:1200px) {
  .container {
    max-width: 1140px;
    
  }
}
@media (min-width:1400px) {
  .container {
    max-width: 1400px;
    
  }
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;  
}

.flex-col{
  flex-direction: column;
}

.inner-container{
  padding: 0 5.5rem;
}

.pt-1{
  padding-top: 7rem;
}
.pb-1{
  padding-bottom: 7rem;
}